<div class="row">
  <div class="col-sm-10">
    <h1><%= @user.nickname %></h1>
    <ul class="nav nav-pills">
      <span class="label label-default">
        Current Rating: 
        <span class="badge">
        <% if @user.post_finder %>
           <%= @user.total_points %>
        </span>
        <% else %>
        <span class="badge">
          0
        </span>
        <% end %>
    </ul>
  <br>
  </div>
  <div class="col-sm-2"><a href="#" class="pull-right"><%= image_tag @user.image, size: "200" %></a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-3">
    <ul class="list-group">
      <li class="list-group-item active">Profile</li>
        <li class="list-group-item text-right">
          <span class="pull-left">
            <strong class="">Real name</strong>
          </span> 
            <% if @user.name == "" %>
              no name given :(
            <% else %>
              <%= @user.name %>
            <% end %>
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left">
            <strong class="">Website</strong>
          </span> 
            <% if @user.name == "" %>
              no website given :(
            <% else %>
              <%= @user.website %>
            <% end %>
    </ul>
</div>

<div class="col-sm-9" contenteditable="false" style="">
  <div class="panel panel-primary">
      <div class="panel-heading"><%= @user.nickname %>'s Bio</div>
      <div class="panel-body"> <%= @user.bio %></div>
  </div>
  
<div class="panel panel-primary target">
  <div class="panel-heading"><%= @user.nickname %>'s Posts!</div>
    <div class="panel-body">
      <div class="row user_posts">
        <%= render 'post' %>
      </div>
    <center>
      <div class="pagination" id="paginator">
        <%= paginate @posts, :remote => true %>
      </div>
    </center>
    </div>
</div>
</div>
