<div class="row">
  <div class="col-sm-10">
    <h1><%= @user.nickname %></h1>
    <h1>Current Rating: <%= @user.total_points %></h1>
  <br>
  </div>
  <div class="col-sm-2"><a href="/users" class="pull-right"><%= image_tag @user.image, size: "200" %></a>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <ul class="list-group">
      <li class="list-group-item text-muted">Profile</li>
        <li class="list-group-item text-right">
          <span class="pull-left">
            <strong class="">Real name</strong>
          </span> 
            <% if @user.name == "" %>
              no name given :(
            <% else %>
              <%= @user.name %>
            <% end %>
        </li>
        <li class="list-group-item text-right">
          <span class="pull-left">
            <strong class="">Website</strong>
          </span> 
            <% if @user.name == "" %>
              no website given :(
            <% else %>
              <%= @user.website %>
            <% end %>
    </ul>
</div>

<div class="col-sm-9" contenteditable="false" style="">
  <div class="panel panel-default">
      <div class="panel-heading"><%= @user.nickname %>'s Bio</div>
      <div class="panel-body"> <%= @user.bio %></div>
  </div>
  
<div class="panel panel-default target">
  <div class="panel-heading"><%= @user.nickname %>'s Posts!</div>
    <div class="panel-body">
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-md-4">
          <div class="thumbnail">
            <%= link_to (image_tag post.instagram_pic, size: "300x200"), city_post_path(post.city, post) if post.instagram_pic %>
          </div>
          <div class="caption center">
            <h4><%= post.tagline %></h4>
            <h4><%= post.city.name %></h4>
          </div>
          </div>
        <% end %>
      </div>
    </div>
</div>
</div>
