<div class="panel panel-default col-md-5 post">
  <p class="becca1 subtext"><%= "Category: " + post.category.name if post.category %></p>
  
  <p class="becca2 subtext"><%= link_to "Expand", city_post_path(@city, post) %></p>

  <div class="panel-body">
    <%= image_check(post) %> 
  	<p class="tagline clear">&ldquo;<%= post.tagline %>&rdquo;</p>
  	<hr>
    <center><p class="subtext"> Submitted by <%= link_to post.user.nickname, user_path(post.user) %></p></center>
    <center><p><%= image_tag post.user.image, size: "60" %></p></center>
  </div>
</div>

