<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag @post.image.url(:medium) if @post.image %>
      </div>
      
      <div class="panel-body">
        <h1><%= @post.tagline %></h1>
        <h3><%= @post.description if @post.description  %></h3>  

        <h4>Comments</h4>
          <% @post.comments.each do |comment| %>
            <p>
              <%= comment.content %> 
              <%= comment.user %>
              <%= link_to 'Delete Comment', city_post_comment_path(@city, @post, comment), method: :delete, :data => {:confirm => "Are you sure?"}%>
            </p>
          <% end %>

        <p>Add a comment:</p>
        <%= render 'comment_form' %>
      </div>
      
      <div class="panel-footer">
        <ul>
            <li><%= link_to 'Edit Post', edit_city_post_path(@post.city, @post)%></li>
            <li><%= link_to 'Delete Post', city_post_path(@post.city, @post), method: :delete, :data => {:confirm => "Are you sure?"}%></li>
            <li><%= link_to 'Back', city_path(@post.city) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

