<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <div class="row">
        <div class="col-xs-2 col-md-4">
          <%= link_to @post.user.nickname, user_path(@post.user), class: "user" %>
        </div>   
        <div class="col-xs-12 col-md-8">
          <%= link_to 'x', city_path(@post.city), class: "X"%>
        </div>
        </div>
        <%= image_check(@post) %>
      </div>
      
      <div class="panel-body">
        <h1><%= @post.tagline %></h1>
        <h5><%= @post.description if @post.description  %></h5>
        <p>Category: <%= @post.category.name if @post.category %></p>
        <p class="pro"><%= "PRO " + @city.name if @post.pro_or_con == 1 %></p> <p class="con"><%= "CON for " + @city.name if @post.pro_or_con == 0 %> </p>

          <%= render 'votes', post: @post %>
          <h4>Comments</h4>
          <div id="task-form-comments">
            <%= render @comments %>
          </div>
          <% if logged_in? %>
          <p>Add a comment:</p>
          <%= render 'comment_form', post: @post, city: @city, comment: Comment.new %>
          <% end %>
        </div>
        
      <% if current_user == @post.user %>
        <%= render 'posts/footer', :post => @post %>
      <% end  %>
      </div>
    </div>
  </div>
</div>