<h1><%= @city.name %></h1>

<div class='categories'>| <%= link_to "All", city_path(@city) %>
|<% @categories.each do |c| %>
	<%= link_to c.name, city_category_path(@city, c) %> |
<% end %>
</div>

<% @city.posts.each do |post| %>
	<li><%= link_to post.tagline, city_post_path(@city, post) %> <%= "("+post.category.name+")" || "" %></li>
<% end %>

<%= link_to 'Write a new post', new_city_post_path(@city) %> <br>
<%= link_to 'Back', root_path %>