<center><h1><%= @city.name %></h1></center>

<div class='categories'>| <%= link_to "All", city_path(@city) %>
|<% @categories.each do |c| %>
	<%= link_to c.name, city_category_path(@city, c) %> |
<% end %>
</div>

<div id="posts">
  <% @city.posts.each do |post| %>
    <div class="box panel panel-default">
      <%= link_to post.tagline, city_post_path(@city, post) %> <%#= "("+post.category.name+")" || "" %>
      <div class="panel-body">
        <%= link_to (image_tag post.image.url), city_post_path(@city, post) %>
        <p> Submitted by <%= link_to post.user.name, user_path(post.user) %></p>
      </div>
    </div>
  <% end %>

  <% if logged_in? %>
  <%= link_to 'Write a new post', new_city_post_path(@city) %> <br>
  <%= link_to 'Back', root_path %>
  <% else %>
  <%= link_to 'Back', root_path %>
  <% end %>
</div>