<center><h1><%= @city.name %></h1></center>

<div class='categories'>| <%= link_to "All", city_path(@city) %>
|<% @categories.each do |c| %>
	<%= link_to c.name, city_category_path(@city, c) %> |
<% end %>
</div>

<h2>City Score</h2>
<h3><%= (@city.posts.where(:posts => {:pro_or_con => 1})).length %> pro posts : <%= (@city.posts.where(:posts => {:pro_or_con => 0})).length %> con posts</h3>

<div id="posts">
  <div id="posts-pro">
  <h3>Pros:</h3>
    <% @city.posts.where(:posts => {:pro_or_con => 1}).each do |post| %>
      <%= render 'show_posts', :post => post %>
    <% end %>
  </div>

  <div id="posts-con">
  <h3>Cons:</h3>
    <% @city.posts.where(:posts => {:pro_or_con => 0}).each do |post| %>
      <%= render 'show_posts', :post => post %>
    <% end %>
  </div>

  <% if logged_in? %>
  <%= link_to 'Write a new post', new_city_post_path(@city) %> <br>
  <%= link_to 'Back', root_path %>
  <% else %>
  <%= link_to 'Back', root_path %>
  <% end %>
</div>