<%= link_to 'Back to Cities', root_path, :class => 'white-text' %>

<div class="background-image"></div>

<div class="row">
	<div class="col-md-2"></div>

	<div class="col-md-8 center">
		<h1 class="city-name"><%= @city.name.upcase %></h1>

		<div class='categories blue-background'>| <%= link_to "ALL", city_path(@city) %>
		|<% @categories.each do |c| %>
			<%= link_to c.name.upcase, city_category_path(@city, c) %> |
		<% end %>
		</div>

		<div class="center">
			<% if logged_in? %>
			  <br><%= link_to 'New post', new_city_post_path(@city), :class => "btn btn-success" %>
			<% end %>
		</div>

	</div>

	<div class="col-md-2">
		<div class='right scorebox'>
			<h3 id ="city_score">City Score</h3>
			<p><%= (@city.posts.where(:posts => {:pro_or_con => 1})).length %> YAY : <%= (@city.posts.where(:posts => {:pro_or_con => 0})).length %> NAY</p>
		</div>
	</div>

</div>

<%= render 'posts/posts'%>