<!DOCTYPE html>
<html>
<head>
  <title>CityShowdown</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet"></link>
  <%= analytics_init if Rails.env.production? %>
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <div class="navbar-brand">
        <%= link_to "CityShowdown", root_path  %>
      </div>        
      <% if logged_in? %>
        <ul class="nav navbar-nav navbar-right">
            <li class="welcome_sign">Welcome <strong><%= link_to current_user.nickname, user_path(current_user) %></strong>!</li>
            <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right welcome_sign">
          <%= link_to "Sign in with Instagram", "/auth/instagram", id: "sign_in2" %>
        </ul>
      <% end %>
  </div>
</nav>
<div class="container">
<%= yield %>
</div>
  <div class="city-footer">
    <p>
      Made by <%= link_to "Alex Lee", "https://github.com/kkomaz/" %>, <%= link_to "Chloe Lee", "https://github.com/chloealee" %>, and <%= link_to "Becca Shapiro", "https://github.com/bshap27" %> at The Flatiron School.
    </p>
  </div>
</body>
</html>